<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Home | Events</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {{#if user}}
        <a class="navbar-brand" href="/userDashboard">SocioTube</a>
        {{else}}
        {{#if admin}}
        <a class="navbar-brand" href="/adminDashboard">SocioTube</a>
        {{else}}
        <a class="navbar-brand" href="/">SocioTube</a>
        {{/if}}
        {{/if}}
        <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end"
          id="navbarNav">

          {{#if admin}}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link" href="/upload">Upload</a>
            </li> --}}
            <li class="nav-item">
              <a class="nav-link" href="/adminDashboard/addEvent">Add Event</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/newRequests">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">logout</a>
            </ul>
            {{else}}
            {{#if user}}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myVideos">My videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </ul>
              {{else}}
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/signUp">SignUp</a>
                </li>
              </ul>
              {{/if}}
              {{/if}}
            </ul>
          </div>
        </nav>
      </div>

      <div class="container">
        <h3>Recent Activity Gallery</h3>
        <hr>
        {{#each eventArrayOfTwo}}
        <div class="row">
          {{#each this}}
          <div class="col-md-6 text-center">
            <div class="card">
              <h2 class="card-header">{{this.title}}</h2>
              <img class="card-img-top" src="/eventImage/{{this.filename}}"
                alt="Card image">
              <div class="card-body">

                <p class="card-text">{{this.content}}</p>
                <h2 class="card-text">{{this.organizer}}</h2>
                <h2 class="card-text">{{this.Date}}</h2>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
    </body>
  </html>